blueprint_v1/n8n/workflows/versions/v008_tareas_2_campos.json
{
  "updatedAt": "2026-01-14T08:12:22.491Z",
  "createdAt": "2026-01-13T16:52:29.586Z",
  "id": "ZI6VUFdg6hEhnCbh",
  "name": "segundo_cerebro",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "0f651668-bab0-46a4-8cd9-de526509dd79",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        304
      ],
      "webhookId": "segundo-cerebro-webhook",
      "credentials": {
        "telegramApi": {
          "id": "RzgkIinUIV35wSlO",
          "name": "segundo_cerebro_pkm_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO inbox_log (usuario_id, mensaje_crudo, payload_json, estado, canal_origen) VALUES ('{{ $json.message.from.id }}', '{{ $json.message.text }}', '{{ JSON.stringify($json.message) }}', 'pendiente', 'telegram')",
        "options": {}
      },
      "id": "5d0dfc5e-0afd-498d-8b46-e9239aacd690",
      "name": "Guardar en inbox_log",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        304
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "Eres un asistente inteligente para un sistema de Segundo Cerebro basado en el método PARA.\n\n## TU TAREA\nAnaliza el mensaje del usuario, clasifícalo y GUÁRDALO en la base de datos usando las herramientas disponibles.\n\n## CATEGORÍAS\n- **TAREA**: Acciones ejecutables (verbo + objeto). Ej: \"Comprar leche\", \"Llamar a Juan\"\n- **PROYECTO**: Esfuerzos con objetivo/fecha límite. Ej: \"Lanzar website para marzo\"\n- **IDEA**: Notas, recursos, aprendizajes, enlaces. Ej: \"Artículo interesante sobre IA\"\n- **PERSONA**: Información de contactos. Ej: \"Juan Pérez, email: juan@example.com\"\n\n## REGLAS DE CLASIFICACIÓN\n- Verbo de acción + objeto → TAREA\n- Objetivo con plazo/entregable → PROYECTO\n- Información sobre persona (nombre, teléfono, email) → PERSONA\n- Conocimiento, recurso, link, nota → IDEA\n\n## HERRAMIENTAS DISPONIBLES\n1. **Insertar en tareas**: Para guardar TAREAS. Campos: titulo (requerido), prioridad (baja/media/alta/urgente)\n2. **Insertar en proyectos**: Para guardar PROYECTOS. Campos: nombre (requerido), estado (activo por defecto)\n3. **Insertar en ideas**: Para guardar IDEAS. Campos: titulo (requerido), contenido, tipo (nota/recurso/aprendizaje/diario)\n4. **Insertar en personas**: Para guardar PERSONAS. Campos: nombre (requerido), relacion, datos_contacto (JSON con email, telefono, etc.)\n\n## INSTRUCCIONES\n1. Analiza el mensaje\n2. Determina la categoría correcta\n3. USA LA HERRAMIENTA CORRESPONDIENTE para guardar en la base de datos\n4. Confirma al usuario qué guardaste y dónde\n\n## FORMATO DE RESPUESTA\nDespués de usar la herramienta, responde:\n✅ [CATEGORÍA] Título guardado\nPrioridad: (solo para TAREA)\n💾 Guardado en: nombre_tabla"
        }
      },
      "id": "719303f7-4c13-4483-8f9d-59f7e29357c5",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        288
      ]
    },
    {
      "parameters": {
        "options": {
          "temperature": 0.1
        }
      },
      "id": "99fa7c25-a5f3-4ac7-a6b8-9335fc186eac",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "EDGpeO8sJi8YCJQz",
          "name": "webcomunica api pago"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}"
      },
      "id": "22a6c258-1804-424b-8094-044d9aee8b9c",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        448,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "fcCn0Gs1u8rDVAxO",
          "name": "Postgres NOCODB"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🧠 **Segundo Cerebro**\n\n{{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-response-node-001",
      "name": "Responder en Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        304
      ],
      "webhookId": "9392561e-63cb-4dc5-bbfe-17c66f82c620",
      "credentials": {
        "telegramApi": {
          "id": "RzgkIinUIV35wSlO",
          "name": "segundo_cerebro_pkm_bot"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insertar una TAREA. Campos: titulo (texto de la tarea), prioridad (SOLO: baja, media, alta, urgente)",
        "table": {
          "__rl": true,
          "value": "tareas",
          "mode": "list",
          "cachedResultName": "tareas"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "titulo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}"
            },
            {
              "column": "prioridad",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('prioridad', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        576,
        528
      ],
      "id": "mysql-tool-tareas",
      "name": "Insertar en tareas",
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insertar un PROYECTO en la base de datos. Usa esta herramienta cuando el usuario envíe algo con objetivo y/o fecha límite como 'Lanzar website para marzo', 'Rediseño de la app para Q2'. SOLO envía estos campos: nombre (obligatorio, nombre del proyecto), estado (opcional: activo, en_espera, completado, cancelado)",
        "table": {
          "__rl": true,
          "value": "proyectos",
          "mode": "list",
          "cachedResultName": "proyectos"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        704,
        528
      ],
      "id": "mysql-tool-proyectos",
      "name": "Insertar en proyectos",
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insertar una IDEA en la base de datos. Usa esta herramienta cuando el usuario envíe conocimiento, recursos, aprendizajes, enlaces o notas. Campos: titulo (obligatorio), contenido (texto completo), tipo (nota/recurso/aprendizaje/diario), origen_url (si hay enlace), tags (JSON array de etiquetas)",
        "table": {
          "__rl": true,
          "value": "ideas",
          "mode": "list",
          "cachedResultName": "ideas"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "titulo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('titulo', ``, 'string') }}"
            },
            {
              "column": "contenido",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('contenido', ``, 'string') }}"
            },
            {
              "column": "tipo",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tipo', ``, 'string') }}"
            },
            {
              "column": "origen_url",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('origen_url', ``, 'string') }}"
            },
            {
              "column": "tags",
              "value": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('tags', ``, 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        832,
        528
      ],
      "id": "mysql-tool-ideas",
      "name": "Insertar en ideas",
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insertar una PERSONA en la base de datos. Usa esta herramienta cuando el usuario envíe información de contacto como 'Juan Pérez, cliente potencial, juan@email.com, +34 600 123 456'. SOLO envía estos campos: nombre (obligatorio), relacion (opcional: cliente, proveedor, amigo, colega, etc.)",
        "table": {
          "__rl": true,
          "value": "personas",
          "mode": "list",
          "cachedResultName": "personas"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        960,
        528
      ],
      "id": "mysql-tool-personas",
      "name": "Insertar en personas",
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Guardar en inbox_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Guardar en inbox_log": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Responder en Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en tareas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en proyectos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en ideas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en personas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "triggerCount": 1,
  "tags": []
}
