workflows/segundo_cerebro_v019.json
{
  "updatedAt": "2026-01-17T19:31:20.593Z",
  "createdAt": "2026-01-13T16:52:29.586Z",
  "id": "ZI6VUFdg6hEhnCbh",
  "name": "segundo_cerebro",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "0f651668-bab0-46a4-8cd9-de526509dd79",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -128,
        304
      ],
      "webhookId": "segundo-cerebro-webhook",
      "credentials": {
        "telegramApi": {
          "id": "RzgkIinUIV35wSlO",
          "name": "segundo_cerebro_pkm_bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO inbox_log (usuario_id, mensaje_crudo, payload_json, estado, canal_origen) VALUES ('{{ $json.message.from.id }}', '{{ $json.message.text }}', '{{ JSON.stringify($json.message) }}', 'pendiente', 'telegram')",
        "options": {}
      },
      "id": "5d0dfc5e-0afd-498d-8b46-e9239aacd690",
      "name": "Guardar en inbox_log",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 2.5,
      "position": [
        96,
        304
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Telegram Trigger').item.json.message.text }}",
        "options": {
          "systemMessage": "=Eres el gestor de un Segundo Cerebro Digital. Hoy es {{ $now.format('dd/MM/yyyy') }}.\n\n## TU TRABAJO EN 3 PASOS\n\n**PASO 1 - Entender qué quiere el usuario:**\n- Guardar algo → usar \"Insertar en [categoría]\"\n- Ver qué hay → usar \"Consultar [categoría]\"\n- Cambiar algo → necesitas el ID numérico primero\n- Borrar algo → necesitas el ID numérico primero\n\n**PASO 2 - Si necesitas ID, consulta UNA SOLA VEZ:**\n- Llama \"Consultar [categoría]\" → recibes [{\"id\": 5, \"titulo\": \"...\"}]\n- Si hay múltiples resultados, pregunta al usuario cuál\n- NO vuelvas a consultar después de recibir respuesta\n\n**PASO 3 - Cuando tengas el ID, actúa INMEDIATAMENTE:**\n- Si tienes el ID numérico (ej: 5), usa \"Actualizar\" o \"Eliminar\" AHORA\n- NO consultes de nuevo\n- NO pidas confirmación extra\n- USA EL ID Y EJECUTA\n\n## EJEMPLO COMPLETO SIN AMBIGÜEDAD\n\n```\nUsuario: \"Cambiar Comprar pan a urgente\"\n\nAcción 1: Consultar tareas\nResultado: [{\"id\": 3, \"titulo\": \"Comprar pan\", \"prioridad\": \"media\"}]\n\nAcción 2: Actualizar tarea\nParámetros: {\"id\": 3, \"prioridad\": \"urgente\"}\n\nRespuesta: \"🔄 Actualizado: Comprar pan ahora es urgente\"\n```\n\n## HERRAMIENTAS (16)\n\n**INSERTAR** - Guardar nuevo:\n- Insertar en tareas: titulo, prioridad, fecha_vencimiento\n- Insertar en proyectos: nombre, estado, fecha_limite\n- Insertar en ideas: titulo, contenido, tipo, tags\n- Insertar en personas: nombre, relacion, datos_contacto\n\n**CONSULTAR** - Ver qué hay (devuelve id como número):\n- Consultar tareas\n- Consultar proyectos\n- Consultar ideas\n- Consultar personas\n\n**ACTUALIZAR** - Cambiar existente (necesita id):\n- Actualizar tarea: id, [campos opcionales]\n- Actualizar proyecto: id, [campos]\n- Actualizar idea: id, [campos]\n- Actualizar persona: id, [campos]\n\n**ELIMINAR** - Borrar (necesita id):\n- Eliminar tarea: id\n- Eliminar proyecto: id\n- Eliminar idea: id\n- Eliminar persona: id\n\n## ⚠️ MAPEO DIRECTO DE FRASES (LEE ESTO PRIMERO)\n\nCuando el usuario dice EXACTAMENTE estas frases, actúa INMEDIATAMENTE sin razonar:\n\n**Ver/Listar** → Llama DIRECTAMENTE \"Consultar [categoría]\" SIN PENSAR:\n- \"lista de tareas\" → Consultar tareas AHORA\n- \"dame las tareas\" → Consultar tareas AHORA\n- \"ver mis tareas\" → Consultar tareas AHORA\n- \"qué tareas tengo\" → Consultar tareas AHORA\n- \"lista de proyectos\" → Consultar proyectos AHORA\n- \"dame los proyectos\" → Consultar proyectos AHORA\n- \"ver mis ideas\" → Consultar ideas AHORA\n- \"lista de personas\" → Consultar personas AHORA\n\n**Crear/Guardar** → Llama DIRECTAMENTE \"Insertar en [categoría]\" SIN PENSAR:\n- \"nueva tarea: X\" → Insertar en tareas AHORA\n- \"agregar proyecto: X\" → Insertar en proyectos AHORA\n- \"guardar idea: X\" → Insertar en ideas AHORA\n- \"anotar persona: X\" → Insertar en personas AHORA\n\n**REGLA ABSOLUTA**: Si usuario dice \"lista de [categoría]\" → NO RAZONES, NO PIENSES, LLAMA \"Consultar [categoría]\" INMEDIATAMENTE.\n\n## ⚠️ REGLA CRÍTICA: RESULTADOS VACÍOS\n\nSi una herramienta \"Consultar\" retorna [] (array vacío o sin resultados):\n1. Significa que NO HAY registros de ese tipo\n2. Responde INMEDIATAMENTE: \"No hay [categoría] registradas\"\n3. **NO VUELVAS A CONSULTAR**\n4. **NO INTENTES BUSCAR DE NUEVO**\n5. Es una respuesta válida y final\n\n## ⚠️ REGLA CRÍTICA: Cuando usuario dice \"id X\" o \"la del id X\"\n\nSi usuario responde con un ID (ej: \"id 1\", \"la del id 5\", \"el 3\"):\n1. Extrae el número (1, 5, 3...)\n2. USA ESE NÚMERO INMEDIATAMENTE en Actualizar/Eliminar\n3. NO consultes nada más\n\n## VALORES PERMITIDOS\n\n- prioridad: baja, media, alta, urgente\n- estado (tarea): pendiente, en_progreso, completada\n- estado (proyecto): activo, en_espera, completado\n- tipo (idea): nota, recurso, aprendizaje\n\n## FORMATO RESPUESTAS\n\n- Guardar: \"✅ [CATEGORÍA] Título - Guardado\"\n- Consultar: \"📊 X resultados: 1. Título (id: X)...\"\n- Consultar vacía: \"No hay [categoría] registradas\"\n- Actualizar: \"🔄 Actualizado: Título\"\n- Eliminar: \"🗑️ Eliminado: Título\""
        }
      },
      "id": "719303f7-4c13-4483-8f9d-59f7e29357c5",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        512,
        288
      ],
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "options": {
          "temperature": 0
        }
      },
      "id": "99fa7c25-a5f3-4ac7-a6b8-9335fc186eac",
      "name": "Google Gemini Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        320,
        528
      ],
      "credentials": {
        "googlePalmApi": {
          "id": "EDGpeO8sJi8YCJQz",
          "name": "webcomunica api pago"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
        "contextWindowLength": 15
      },
      "id": "22a6c258-1804-424b-8094-044d9aee8b9c",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        448,
        528
      ],
      "credentials": {
        "postgres": {
          "id": "fcCn0Gs1u8rDVAxO",
          "name": "Postgres NOCODB"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=🧠 **Segundo Cerebro**\n\n{{ $json.output }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-response-node-001",
      "name": "Responder en Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1168,
        304
      ],
      "webhookId": "9392561e-63cb-4dc5-bbfe-17c66f82c620",
      "credentials": {
        "telegramApi": {
          "id": "RzgkIinUIV35wSlO",
          "name": "segundo_cerebro_pkm_bot"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insertar una TAREA. Campos: titulo (texto de la tarea), prioridad (SOLO: baja, media, alta, urgente), fecha_vencimiento (YYYY-MM-DD o null si no hay fecha), contexto_adicional (JSON con info extra o null)",
        "table": {
          "__rl": true,
          "value": "tareas",
          "mode": "list",
          "cachedResultName": "tareas"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "titulo",
              "value": "={{ $fromAI('titulo', '', 'string') }}"
            },
            {
              "column": "prioridad",
              "value": "={{ $fromAI('prioridad', '', 'string') }}"
            },
            {
              "column": "fecha_vencimiento",
              "value": "={{ $fromAI('fecha_vencimiento', '', 'string') }}"
            },
            {
              "column": "contexto_adicional",
              "value": "={{ $fromAI('contexto_adicional', '', 'string') }}"
            }
          ]
        },
        "options": {
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        576,
        528
      ],
      "id": "mysql-tool-tareas",
      "name": "Insertar en tareas",
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insertar un PROYECTO. Campos: nombre (texto), estado (SOLO: activo, en_espera), fecha_limite (YYYY-MM-DD o null)",
        "table": {
          "__rl": true,
          "value": "proyectos",
          "mode": "list",
          "cachedResultName": "proyectos"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nombre",
              "value": "={{ $fromAI('nombre', '', 'string') }}"
            },
            {
              "column": "estado",
              "value": "={{ $fromAI('estado', '', 'string') }}"
            },
            {
              "column": "fecha_limite",
              "value": "={{ $fromAI('fecha_limite', '', 'string') }}"
            }
          ]
        },
        "options": {
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        704,
        528
      ],
      "id": "mysql-tool-proyectos",
      "name": "Insertar en proyectos",
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insertar una IDEA. Campos: titulo (texto), contenido (descripción completa), tipo (SOLO: nota, recurso, aprendizaje), tags (JSON array ej: [\"tech\",\"n8n\"] o null)",
        "table": {
          "__rl": true,
          "value": "ideas",
          "mode": "list",
          "cachedResultName": "ideas"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "titulo",
              "value": "={{ $fromAI('titulo', '', 'string') }}"
            },
            {
              "column": "contenido",
              "value": "={{ $fromAI('contenido', '', 'string') }}"
            },
            {
              "column": "tipo",
              "value": "={{ $fromAI('tipo', '', 'string') }}"
            },
            {
              "column": "tags",
              "value": "={{ $fromAI('tags', '', 'string') }}"
            }
          ]
        },
        "options": {
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        832,
        528
      ],
      "id": "mysql-tool-ideas",
      "name": "Insertar en ideas",
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Insertar una PERSONA. Campos: nombre (texto), relacion (SOLO: cliente, proveedor, amigo, colega, familia, otro), datos_contacto (JSON con email/telefono o null)",
        "table": {
          "__rl": true,
          "value": "personas",
          "mode": "list",
          "cachedResultName": "personas"
        },
        "dataMode": "defineBelow",
        "valuesToSend": {
          "values": [
            {
              "column": "nombre",
              "value": "={{ $fromAI('nombre', '', 'string') }}"
            },
            {
              "column": "relacion",
              "value": "={{ $fromAI('relacion', '', 'string') }}"
            },
            {
              "column": "datos_contacto",
              "value": "={{ $fromAI('datos_contacto', '', 'string') }}"
            }
          ]
        },
        "options": {
          "replaceEmptyStrings": true
        }
      },
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        960,
        528
      ],
      "id": "mysql-tool-personas",
      "name": "Insertar en personas",
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consultar TAREAS guardadas. Retorna id (NÚMERO ENTERO como 1, 2, 3...), titulo, prioridad, estado, fecha_vencimiento. USAR SIEMPRE antes de actualizar o eliminar una tarea para obtener su ID numérico.",
        "operation": "executeQuery",
        "query": "SELECT id, titulo, prioridad, estado, DATE(fecha_vencimiento) as fecha_vencimiento, DATE(created_at) as fecha_creacion FROM tareas WHERE estado != 'completada' ORDER BY CASE prioridad WHEN 'urgente' THEN 1 WHEN 'alta' THEN 2 WHEN 'media' THEN 3 WHEN 'baja' THEN 4 END, fecha_vencimiento ASC LIMIT 20",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "id": "mysql-tool-consultar-tareas",
      "name": "Consultar tareas",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        576,
        688
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consultar PROYECTOS guardados. Retorna id (NÚMERO ENTERO como 1, 2, 3...), nombre, estado, fecha_limite. USAR SIEMPRE antes de actualizar o eliminar un proyecto para obtener su ID numérico.",
        "operation": "executeQuery",
        "query": "SELECT id, nombre, estado, fecha_limite, DATE(created_at) as fecha_creacion FROM proyectos WHERE estado IN ('activo', 'en_espera') ORDER BY estado ASC, fecha_limite ASC LIMIT 20",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "id": "mysql-tool-consultar-proyectos",
      "name": "Consultar proyectos",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        704,
        688
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consultar IDEAS guardadas. Retorna id (NÚMERO ENTERO como 1, 2, 3...), titulo, contenido, tipo, tags. USAR SIEMPRE antes de actualizar o eliminar una idea para obtener su ID numérico.",
        "operation": "executeQuery",
        "query": "SELECT id, titulo, contenido, tipo, tags, DATE(created_at) as fecha_creacion FROM ideas ORDER BY created_at DESC LIMIT 20",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "id": "mysql-tool-consultar-ideas",
      "name": "Consultar ideas",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        832,
        688
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Consultar PERSONAS guardadas. Retorna id (NÚMERO ENTERO como 1, 2, 3...), nombre, relacion, datos_contacto. USAR SIEMPRE antes de actualizar o eliminar una persona para obtener su ID numérico.",
        "operation": "executeQuery",
        "query": "SELECT id, nombre, relacion, datos_contacto, DATE(created_at) as fecha_creacion FROM personas ORDER BY nombre ASC LIMIT 20",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "id": "mysql-tool-consultar-personas",
      "name": "Consultar personas",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        960,
        688
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Actualizar una TAREA existente. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5, 10 - NUNCA un UUID). Obtén el id usando primero 'Consultar tareas'. OPCIONALES: titulo, prioridad (baja/media/alta/urgente), estado (pendiente/en_progreso/completada), fecha_vencimiento (YYYY-MM-DD).",
        "operation": "executeQuery",
        "query": "=UPDATE tareas SET titulo = CASE WHEN '{{ $fromAI('titulo') }}' IN ('', 'undefined') THEN titulo ELSE '{{ $fromAI('titulo') }}' END, prioridad = CASE WHEN '{{ $fromAI('prioridad') }}' IN ('', 'undefined') THEN prioridad ELSE '{{ $fromAI('prioridad') }}' END, estado = CASE WHEN '{{ $fromAI('estado') }}' IN ('', 'undefined') THEN estado ELSE '{{ $fromAI('estado') }}' END, fecha_vencimiento = CASE WHEN '{{ $fromAI('fecha_vencimiento') }}' IN ('', 'undefined') THEN fecha_vencimiento WHEN '{{ $fromAI('fecha_vencimiento') }}' = 'null' THEN NULL ELSE '{{ $fromAI('fecha_vencimiento') }}' END WHERE id = {{ $fromAI('id') }}",
        "options": {
          "largeNumbersOutput": "text",
          "replaceEmptyStrings": true
        }
      },
      "id": "mysql-tool-actualizar-tarea",
      "name": "Actualizar tarea",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        576,
        832
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Actualizar un PROYECTO existente. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar proyectos'. OPCIONALES: nombre, estado (activo/en_espera/completado), fecha_limite (YYYY-MM-DD).",
        "operation": "executeQuery",
        "query": "=UPDATE proyectos SET nombre = CASE WHEN '{{ $fromAI('nombre') }}' IN ('', 'undefined') THEN nombre ELSE '{{ $fromAI('nombre') }}' END, estado = CASE WHEN '{{ $fromAI('estado') }}' IN ('', 'undefined') THEN estado ELSE '{{ $fromAI('estado') }}' END, fecha_limite = CASE WHEN '{{ $fromAI('fecha_limite') }}' IN ('', 'undefined') THEN fecha_limite WHEN '{{ $fromAI('fecha_limite') }}' = 'null' THEN NULL ELSE '{{ $fromAI('fecha_limite') }}' END WHERE id = {{ $fromAI('id') }}",
        "options": {
          "largeNumbersOutput": "text",
          "replaceEmptyStrings": true
        }
      },
      "id": "mysql-tool-actualizar-proyecto",
      "name": "Actualizar proyecto",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        704,
        832
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Actualizar una IDEA existente. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar ideas'. OPCIONALES: titulo, contenido, tipo (nota/recurso/aprendizaje), tags (JSON array).",
        "operation": "executeQuery",
        "query": "=UPDATE ideas SET titulo = CASE WHEN '{{ $fromAI('titulo') }}' IN ('', 'undefined') THEN titulo ELSE '{{ $fromAI('titulo') }}' END, contenido = CASE WHEN '{{ $fromAI('contenido') }}' IN ('', 'undefined') THEN contenido ELSE '{{ $fromAI('contenido') }}' END, tipo = CASE WHEN '{{ $fromAI('tipo') }}' IN ('', 'undefined') THEN tipo ELSE '{{ $fromAI('tipo') }}' END, tags = CASE WHEN '{{ $fromAI('tags') }}' IN ('', 'undefined') THEN tags ELSE '{{ $fromAI('tags') }}' END WHERE id = {{ $fromAI('id') }}",
        "options": {
          "largeNumbersOutput": "text",
          "replaceEmptyStrings": true
        }
      },
      "id": "mysql-tool-actualizar-idea",
      "name": "Actualizar idea",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        832,
        832
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Actualizar una PERSONA existente. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar personas'. OPCIONALES: nombre, relacion, datos_contacto (JSON).",
        "operation": "executeQuery",
        "query": "=UPDATE personas SET nombre = CASE WHEN '{{ $fromAI('nombre') }}' IN ('', 'undefined') THEN nombre ELSE '{{ $fromAI('nombre') }}' END, relacion = CASE WHEN '{{ $fromAI('relacion') }}' IN ('', 'undefined') THEN relacion ELSE '{{ $fromAI('relacion') }}' END, datos_contacto = CASE WHEN '{{ $fromAI('datos_contacto') }}' IN ('', 'undefined') THEN datos_contacto ELSE '{{ $fromAI('datos_contacto') }}' END WHERE id = {{ $fromAI('id') }}",
        "options": {
          "largeNumbersOutput": "text",
          "replaceEmptyStrings": true
        }
      },
      "id": "mysql-tool-actualizar-persona",
      "name": "Actualizar persona",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        960,
        832
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Eliminar una TAREA. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar tareas'. CONFIRMA con el usuario antes de eliminar.",
        "operation": "executeQuery",
        "query": "=DELETE FROM tareas WHERE id = {{ $fromAI('id') }}",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "id": "mysql-tool-eliminar-tarea",
      "name": "Eliminar tarea",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        576,
        992
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Eliminar un PROYECTO. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar proyectos'. CONFIRMA con el usuario antes de eliminar.",
        "operation": "executeQuery",
        "query": "=DELETE FROM proyectos WHERE id = {{ $fromAI('id') }}",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "id": "mysql-tool-eliminar-proyecto",
      "name": "Eliminar proyecto",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        704,
        992
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Eliminar una IDEA. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar ideas'. CONFIRMA con el usuario antes de eliminar.",
        "operation": "executeQuery",
        "query": "=DELETE FROM ideas WHERE id = {{ $fromAI('id') }}",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "id": "mysql-tool-eliminar-idea",
      "name": "Eliminar idea",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        832,
        992
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Eliminar una PERSONA. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar personas'. CONFIRMA con el usuario antes de eliminar.",
        "operation": "executeQuery",
        "query": "=DELETE FROM personas WHERE id = {{ $fromAI('id') }}",
        "options": {
          "largeNumbersOutput": "text"
        }
      },
      "id": "mysql-tool-eliminar-persona",
      "name": "Eliminar persona",
      "type": "n8n-nodes-base.mySqlTool",
      "typeVersion": 2.5,
      "position": [
        960,
        992
      ],
      "credentials": {
        "mySql": {
          "id": "yTsefijtH5HVvPzn",
          "name": "segundo_cerebro"
        }
      }
    },
    {
      "id": "switch-es-audio-v019",
      "name": "Es Audio?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -336,
        304
      ],
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.voice || $json.message.audio }}",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ]
              },
              "renameOutput": true,
              "outputKey": "Audio"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra",
          "renameFallbackOutput": "Texto"
        }
      }
    },
    {
      "id": "http-get-file-v019",
      "name": "Obtener File Info",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -112,
        224
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/getFile?file_id={{ $json.message.voice.file_id || $json.message.audio.file_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "options": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "RzgkIinUIV35wSlO",
          "name": "segundo_cerebro_pkm_bot"
        }
      }
    },
    {
      "id": "http-download-v019",
      "name": "Descargar Audio",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        144,
        224
      ],
      "parameters": {
        "method": "GET",
        "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "telegramApi",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "RzgkIinUIV35wSlO",
          "name": "segundo_cerebro_pkm_bot"
        }
      }
    },
    {
      "id": "gemini-transcribe-v019",
      "name": "Gemini Transcribir",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1.1,
      "position": [
        400,
        224
      ],
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "inputType": "binary",
        "binaryPropertyName": "data",
        "options": {
          "simplify": true
        },
        "modelId": {
          "mode": "id",
          "value": "models/gemini-2.0-flash-exp"
        }
      },
      "credentials": {
        "googlePalmApi": {
          "id": "EDGpeO8sJi8YCJQz",
          "name": "webcomunica api pago"
        }
      }
    },
    {
      "id": "set-message-v019",
      "name": "Preparar Mensaje",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        656,
        224
      ],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "msg-text",
              "name": "message.text",
              "type": "string",
              "value": "={{ $json.output }}"
            },
            {
              "id": "msg-from-id",
              "name": "message.from.id",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
            },
            {
              "id": "msg-chat-id",
              "name": "message.chat.id",
              "type": "string",
              "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Guardar en inbox_log": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Responder en Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en tareas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en proyectos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en ideas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Insertar en personas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar tareas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar proyectos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar ideas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Consultar personas": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar tarea": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar proyecto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar idea": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar persona": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar tarea": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar proyecto": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar idea": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar persona": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Es Audio?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Es Audio?": {
      "main": [
        [
          {
            "node": "Obtener File Info",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Guardar en inbox_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener File Info": {
      "main": [
        [
          {
            "node": "Descargar Audio",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Descargar Audio": {
      "main": [
        [
          {
            "node": "Gemini Transcribir",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Transcribir": {
      "main": [
        [
          {
            "node": "Preparar Mensaje",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Mensaje": {
      "main": [
        [
          {
            "node": "Guardar en inbox_log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Madrid",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "715c6f60-315a-4ec1-b52d-933a90fa36f1",
  "activeVersionId": "715c6f60-315a-4ec1-b52d-933a90fa36f1",
  "versionCounter": 201,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-13T16:52:29.590Z",
      "createdAt": "2026-01-13T16:52:29.590Z",
      "role": "workflow:owner",
      "workflowId": "ZI6VUFdg6hEhnCbh",
      "projectId": "qFuEXXirPYUDNidW",
      "project": {
        "updatedAt": "2024-12-04T16:41:09.060Z",
        "createdAt": "2024-12-04T16:40:41.623Z",
        "id": "qFuEXXirPYUDNidW",
        "name": "JUAN JOSE SANCHEZ BERNAL <info@webcomunica.solutions>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "078b3c41-10e5-4d26-81a5-15700c6cc8d0",
        "projectRelations": [
          {
            "updatedAt": "2024-12-04T16:40:41.624Z",
            "createdAt": "2024-12-04T16:40:41.624Z",
            "userId": "078b3c41-10e5-4d26-81a5-15700c6cc8d0",
            "projectId": "qFuEXXirPYUDNidW",
            "user": {
              "updatedAt": "2026-01-16T23:00:02.000Z",
              "createdAt": "2024-12-04T16:40:39.215Z",
              "id": "078b3c41-10e5-4d26-81a5-15700c6cc8d0",
              "email": "info@webcomunica.solutions",
              "firstName": "JUAN JOSE",
              "lastName": "SANCHEZ BERNAL",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2024-12-04T16:41:13.374Z",
                "personalization_survey_n8n_version": "1.70.2"
              },
              "settings": {
                "userActivated": true,
                "isOnboarded": true,
                "firstSuccessfulWorkflowId": "OXx97Y2ymoNFaMEe",
                "userActivatedAt": 1733584440669,
                "npsSurvey": {
                  "responded": true,
                  "lastShownAt": 1767733016493
                },
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-17",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-17T19:31:20.594Z",
    "createdAt": "2026-01-17T19:31:20.594Z",
    "versionId": "715c6f60-315a-4ec1-b52d-933a90fa36f1",
    "workflowId": "ZI6VUFdg6hEhnCbh",
    "nodes": [
      {
        "parameters": {
          "updates": [
            "message"
          ],
          "additionalFields": {}
        },
        "id": "0f651668-bab0-46a4-8cd9-de526509dd79",
        "name": "Telegram Trigger",
        "type": "n8n-nodes-base.telegramTrigger",
        "typeVersion": 1.2,
        "position": [
          -128,
          304
        ],
        "webhookId": "segundo-cerebro-webhook",
        "credentials": {
          "telegramApi": {
            "id": "RzgkIinUIV35wSlO",
            "name": "segundo_cerebro_pkm_bot"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "=INSERT INTO inbox_log (usuario_id, mensaje_crudo, payload_json, estado, canal_origen) VALUES ('{{ $json.message.from.id }}', '{{ $json.message.text }}', '{{ JSON.stringify($json.message) }}', 'pendiente', 'telegram')",
          "options": {}
        },
        "id": "5d0dfc5e-0afd-498d-8b46-e9239aacd690",
        "name": "Guardar en inbox_log",
        "type": "n8n-nodes-base.mySql",
        "typeVersion": 2.5,
        "position": [
          96,
          304
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $('Telegram Trigger').item.json.message.text }}",
          "options": {
            "systemMessage": "=Eres el gestor de un Segundo Cerebro Digital. Hoy es {{ $now.format('dd/MM/yyyy') }}.\n\n## TU TRABAJO EN 3 PASOS\n\n**PASO 1 - Entender qué quiere el usuario:**\n- Guardar algo → usar \"Insertar en [categoría]\"\n- Ver qué hay → usar \"Consultar [categoría]\"\n- Cambiar algo → necesitas el ID numérico primero\n- Borrar algo → necesitas el ID numérico primero\n\n**PASO 2 - Si necesitas ID, consulta UNA SOLA VEZ:**\n- Llama \"Consultar [categoría]\" → recibes [{\"id\": 5, \"titulo\": \"...\"}]\n- Si hay múltiples resultados, pregunta al usuario cuál\n- NO vuelvas a consultar después de recibir respuesta\n\n**PASO 3 - Cuando tengas el ID, actúa INMEDIATAMENTE:**\n- Si tienes el ID numérico (ej: 5), usa \"Actualizar\" o \"Eliminar\" AHORA\n- NO consultes de nuevo\n- NO pidas confirmación extra\n- USA EL ID Y EJECUTA\n\n## EJEMPLO COMPLETO SIN AMBIGÜEDAD\n\n```\nUsuario: \"Cambiar Comprar pan a urgente\"\n\nAcción 1: Consultar tareas\nResultado: [{\"id\": 3, \"titulo\": \"Comprar pan\", \"prioridad\": \"media\"}]\n\nAcción 2: Actualizar tarea\nParámetros: {\"id\": 3, \"prioridad\": \"urgente\"}\n\nRespuesta: \"🔄 Actualizado: Comprar pan ahora es urgente\"\n```\n\n## HERRAMIENTAS (16)\n\n**INSERTAR** - Guardar nuevo:\n- Insertar en tareas: titulo, prioridad, fecha_vencimiento\n- Insertar en proyectos: nombre, estado, fecha_limite\n- Insertar en ideas: titulo, contenido, tipo, tags\n- Insertar en personas: nombre, relacion, datos_contacto\n\n**CONSULTAR** - Ver qué hay (devuelve id como número):\n- Consultar tareas\n- Consultar proyectos\n- Consultar ideas\n- Consultar personas\n\n**ACTUALIZAR** - Cambiar existente (necesita id):\n- Actualizar tarea: id, [campos opcionales]\n- Actualizar proyecto: id, [campos]\n- Actualizar idea: id, [campos]\n- Actualizar persona: id, [campos]\n\n**ELIMINAR** - Borrar (necesita id):\n- Eliminar tarea: id\n- Eliminar proyecto: id\n- Eliminar idea: id\n- Eliminar persona: id\n\n## ⚠️ MAPEO DIRECTO DE FRASES (LEE ESTO PRIMERO)\n\nCuando el usuario dice EXACTAMENTE estas frases, actúa INMEDIATAMENTE sin razonar:\n\n**Ver/Listar** → Llama DIRECTAMENTE \"Consultar [categoría]\" SIN PENSAR:\n- \"lista de tareas\" → Consultar tareas AHORA\n- \"dame las tareas\" → Consultar tareas AHORA\n- \"ver mis tareas\" → Consultar tareas AHORA\n- \"qué tareas tengo\" → Consultar tareas AHORA\n- \"lista de proyectos\" → Consultar proyectos AHORA\n- \"dame los proyectos\" → Consultar proyectos AHORA\n- \"ver mis ideas\" → Consultar ideas AHORA\n- \"lista de personas\" → Consultar personas AHORA\n\n**Crear/Guardar** → Llama DIRECTAMENTE \"Insertar en [categoría]\" SIN PENSAR:\n- \"nueva tarea: X\" → Insertar en tareas AHORA\n- \"agregar proyecto: X\" → Insertar en proyectos AHORA\n- \"guardar idea: X\" → Insertar en ideas AHORA\n- \"anotar persona: X\" → Insertar en personas AHORA\n\n**REGLA ABSOLUTA**: Si usuario dice \"lista de [categoría]\" → NO RAZONES, NO PIENSES, LLAMA \"Consultar [categoría]\" INMEDIATAMENTE.\n\n## ⚠️ REGLA CRÍTICA: RESULTADOS VACÍOS\n\nSi una herramienta \"Consultar\" retorna [] (array vacío o sin resultados):\n1. Significa que NO HAY registros de ese tipo\n2. Responde INMEDIATAMENTE: \"No hay [categoría] registradas\"\n3. **NO VUELVAS A CONSULTAR**\n4. **NO INTENTES BUSCAR DE NUEVO**\n5. Es una respuesta válida y final\n\n## ⚠️ REGLA CRÍTICA: Cuando usuario dice \"id X\" o \"la del id X\"\n\nSi usuario responde con un ID (ej: \"id 1\", \"la del id 5\", \"el 3\"):\n1. Extrae el número (1, 5, 3...)\n2. USA ESE NÚMERO INMEDIATAMENTE en Actualizar/Eliminar\n3. NO consultes nada más\n\n## VALORES PERMITIDOS\n\n- prioridad: baja, media, alta, urgente\n- estado (tarea): pendiente, en_progreso, completada\n- estado (proyecto): activo, en_espera, completado\n- tipo (idea): nota, recurso, aprendizaje\n\n## FORMATO RESPUESTAS\n\n- Guardar: \"✅ [CATEGORÍA] Título - Guardado\"\n- Consultar: \"📊 X resultados: 1. Título (id: X)...\"\n- Consultar vacía: \"No hay [categoría] registradas\"\n- Actualizar: \"🔄 Actualizado: Título\"\n- Eliminar: \"🗑️ Eliminado: Título\""
          }
        },
        "id": "719303f7-4c13-4483-8f9d-59f7e29357c5",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3.1,
        "position": [
          512,
          288
        ],
        "alwaysOutputData": true,
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "options": {
            "temperature": 0
          }
        },
        "id": "99fa7c25-a5f3-4ac7-a6b8-9335fc186eac",
        "name": "Google Gemini Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          320,
          528
        ],
        "credentials": {
          "googlePalmApi": {
            "id": "EDGpeO8sJi8YCJQz",
            "name": "webcomunica api pago"
          }
        }
      },
      {
        "parameters": {
          "sessionIdType": "customKey",
          "sessionKey": "={{ $('Telegram Trigger').item.json.message.from.id }}",
          "contextWindowLength": 15
        },
        "id": "22a6c258-1804-424b-8094-044d9aee8b9c",
        "name": "Postgres Chat Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
        "typeVersion": 1.3,
        "position": [
          448,
          528
        ],
        "credentials": {
          "postgres": {
            "id": "fcCn0Gs1u8rDVAxO",
            "name": "Postgres NOCODB"
          }
        }
      },
      {
        "parameters": {
          "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
          "text": "=🧠 **Segundo Cerebro**\n\n{{ $json.output }}",
          "additionalFields": {
            "parse_mode": "Markdown"
          }
        },
        "id": "telegram-response-node-001",
        "name": "Responder en Telegram",
        "type": "n8n-nodes-base.telegram",
        "typeVersion": 1.2,
        "position": [
          1168,
          304
        ],
        "webhookId": "9392561e-63cb-4dc5-bbfe-17c66f82c620",
        "credentials": {
          "telegramApi": {
            "id": "RzgkIinUIV35wSlO",
            "name": "segundo_cerebro_pkm_bot"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Insertar una TAREA. Campos: titulo (texto de la tarea), prioridad (SOLO: baja, media, alta, urgente), fecha_vencimiento (YYYY-MM-DD o null si no hay fecha), contexto_adicional (JSON con info extra o null)",
          "table": {
            "__rl": true,
            "value": "tareas",
            "mode": "list",
            "cachedResultName": "tareas"
          },
          "dataMode": "defineBelow",
          "valuesToSend": {
            "values": [
              {
                "column": "titulo",
                "value": "={{ $fromAI('titulo', '', 'string') }}"
              },
              {
                "column": "prioridad",
                "value": "={{ $fromAI('prioridad', '', 'string') }}"
              },
              {
                "column": "fecha_vencimiento",
                "value": "={{ $fromAI('fecha_vencimiento', '', 'string') }}"
              },
              {
                "column": "contexto_adicional",
                "value": "={{ $fromAI('contexto_adicional', '', 'string') }}"
              }
            ]
          },
          "options": {
            "replaceEmptyStrings": true
          }
        },
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          576,
          528
        ],
        "id": "mysql-tool-tareas",
        "name": "Insertar en tareas",
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Insertar un PROYECTO. Campos: nombre (texto), estado (SOLO: activo, en_espera), fecha_limite (YYYY-MM-DD o null)",
          "table": {
            "__rl": true,
            "value": "proyectos",
            "mode": "list",
            "cachedResultName": "proyectos"
          },
          "dataMode": "defineBelow",
          "valuesToSend": {
            "values": [
              {
                "column": "nombre",
                "value": "={{ $fromAI('nombre', '', 'string') }}"
              },
              {
                "column": "estado",
                "value": "={{ $fromAI('estado', '', 'string') }}"
              },
              {
                "column": "fecha_limite",
                "value": "={{ $fromAI('fecha_limite', '', 'string') }}"
              }
            ]
          },
          "options": {
            "replaceEmptyStrings": true
          }
        },
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          704,
          528
        ],
        "id": "mysql-tool-proyectos",
        "name": "Insertar en proyectos",
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Insertar una IDEA. Campos: titulo (texto), contenido (descripción completa), tipo (SOLO: nota, recurso, aprendizaje), tags (JSON array ej: [\"tech\",\"n8n\"] o null)",
          "table": {
            "__rl": true,
            "value": "ideas",
            "mode": "list",
            "cachedResultName": "ideas"
          },
          "dataMode": "defineBelow",
          "valuesToSend": {
            "values": [
              {
                "column": "titulo",
                "value": "={{ $fromAI('titulo', '', 'string') }}"
              },
              {
                "column": "contenido",
                "value": "={{ $fromAI('contenido', '', 'string') }}"
              },
              {
                "column": "tipo",
                "value": "={{ $fromAI('tipo', '', 'string') }}"
              },
              {
                "column": "tags",
                "value": "={{ $fromAI('tags', '', 'string') }}"
              }
            ]
          },
          "options": {
            "replaceEmptyStrings": true
          }
        },
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          832,
          528
        ],
        "id": "mysql-tool-ideas",
        "name": "Insertar en ideas",
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Insertar una PERSONA. Campos: nombre (texto), relacion (SOLO: cliente, proveedor, amigo, colega, familia, otro), datos_contacto (JSON con email/telefono o null)",
          "table": {
            "__rl": true,
            "value": "personas",
            "mode": "list",
            "cachedResultName": "personas"
          },
          "dataMode": "defineBelow",
          "valuesToSend": {
            "values": [
              {
                "column": "nombre",
                "value": "={{ $fromAI('nombre', '', 'string') }}"
              },
              {
                "column": "relacion",
                "value": "={{ $fromAI('relacion', '', 'string') }}"
              },
              {
                "column": "datos_contacto",
                "value": "={{ $fromAI('datos_contacto', '', 'string') }}"
              }
            ]
          },
          "options": {
            "replaceEmptyStrings": true
          }
        },
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          960,
          528
        ],
        "id": "mysql-tool-personas",
        "name": "Insertar en personas",
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Consultar TAREAS guardadas. Retorna id (NÚMERO ENTERO como 1, 2, 3...), titulo, prioridad, estado, fecha_vencimiento. USAR SIEMPRE antes de actualizar o eliminar una tarea para obtener su ID numérico.",
          "operation": "executeQuery",
          "query": "SELECT id, titulo, prioridad, estado, DATE(fecha_vencimiento) as fecha_vencimiento, DATE(created_at) as fecha_creacion FROM tareas WHERE estado != 'completada' ORDER BY CASE prioridad WHEN 'urgente' THEN 1 WHEN 'alta' THEN 2 WHEN 'media' THEN 3 WHEN 'baja' THEN 4 END, fecha_vencimiento ASC LIMIT 20",
          "options": {
            "largeNumbersOutput": "text"
          }
        },
        "id": "mysql-tool-consultar-tareas",
        "name": "Consultar tareas",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          576,
          688
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Consultar PROYECTOS guardados. Retorna id (NÚMERO ENTERO como 1, 2, 3...), nombre, estado, fecha_limite. USAR SIEMPRE antes de actualizar o eliminar un proyecto para obtener su ID numérico.",
          "operation": "executeQuery",
          "query": "SELECT id, nombre, estado, fecha_limite, DATE(created_at) as fecha_creacion FROM proyectos WHERE estado IN ('activo', 'en_espera') ORDER BY estado ASC, fecha_limite ASC LIMIT 20",
          "options": {
            "largeNumbersOutput": "text"
          }
        },
        "id": "mysql-tool-consultar-proyectos",
        "name": "Consultar proyectos",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          704,
          688
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Consultar IDEAS guardadas. Retorna id (NÚMERO ENTERO como 1, 2, 3...), titulo, contenido, tipo, tags. USAR SIEMPRE antes de actualizar o eliminar una idea para obtener su ID numérico.",
          "operation": "executeQuery",
          "query": "SELECT id, titulo, contenido, tipo, tags, DATE(created_at) as fecha_creacion FROM ideas ORDER BY created_at DESC LIMIT 20",
          "options": {
            "largeNumbersOutput": "text"
          }
        },
        "id": "mysql-tool-consultar-ideas",
        "name": "Consultar ideas",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          832,
          688
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Consultar PERSONAS guardadas. Retorna id (NÚMERO ENTERO como 1, 2, 3...), nombre, relacion, datos_contacto. USAR SIEMPRE antes de actualizar o eliminar una persona para obtener su ID numérico.",
          "operation": "executeQuery",
          "query": "SELECT id, nombre, relacion, datos_contacto, DATE(created_at) as fecha_creacion FROM personas ORDER BY nombre ASC LIMIT 20",
          "options": {
            "largeNumbersOutput": "text"
          }
        },
        "id": "mysql-tool-consultar-personas",
        "name": "Consultar personas",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          960,
          688
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Actualizar una TAREA existente. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5, 10 - NUNCA un UUID). Obtén el id usando primero 'Consultar tareas'. OPCIONALES: titulo, prioridad (baja/media/alta/urgente), estado (pendiente/en_progreso/completada), fecha_vencimiento (YYYY-MM-DD).",
          "operation": "executeQuery",
          "query": "=UPDATE tareas SET titulo = CASE WHEN '{{ $fromAI('titulo') }}' IN ('', 'undefined') THEN titulo ELSE '{{ $fromAI('titulo') }}' END, prioridad = CASE WHEN '{{ $fromAI('prioridad') }}' IN ('', 'undefined') THEN prioridad ELSE '{{ $fromAI('prioridad') }}' END, estado = CASE WHEN '{{ $fromAI('estado') }}' IN ('', 'undefined') THEN estado ELSE '{{ $fromAI('estado') }}' END, fecha_vencimiento = CASE WHEN '{{ $fromAI('fecha_vencimiento') }}' IN ('', 'undefined') THEN fecha_vencimiento WHEN '{{ $fromAI('fecha_vencimiento') }}' = 'null' THEN NULL ELSE '{{ $fromAI('fecha_vencimiento') }}' END WHERE id = {{ $fromAI('id') }}",
          "options": {
            "largeNumbersOutput": "text",
            "replaceEmptyStrings": true
          }
        },
        "id": "mysql-tool-actualizar-tarea",
        "name": "Actualizar tarea",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          576,
          832
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Actualizar un PROYECTO existente. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar proyectos'. OPCIONALES: nombre, estado (activo/en_espera/completado), fecha_limite (YYYY-MM-DD).",
          "operation": "executeQuery",
          "query": "=UPDATE proyectos SET nombre = CASE WHEN '{{ $fromAI('nombre') }}' IN ('', 'undefined') THEN nombre ELSE '{{ $fromAI('nombre') }}' END, estado = CASE WHEN '{{ $fromAI('estado') }}' IN ('', 'undefined') THEN estado ELSE '{{ $fromAI('estado') }}' END, fecha_limite = CASE WHEN '{{ $fromAI('fecha_limite') }}' IN ('', 'undefined') THEN fecha_limite WHEN '{{ $fromAI('fecha_limite') }}' = 'null' THEN NULL ELSE '{{ $fromAI('fecha_limite') }}' END WHERE id = {{ $fromAI('id') }}",
          "options": {
            "largeNumbersOutput": "text",
            "replaceEmptyStrings": true
          }
        },
        "id": "mysql-tool-actualizar-proyecto",
        "name": "Actualizar proyecto",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          704,
          832
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Actualizar una IDEA existente. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar ideas'. OPCIONALES: titulo, contenido, tipo (nota/recurso/aprendizaje), tags (JSON array).",
          "operation": "executeQuery",
          "query": "=UPDATE ideas SET titulo = CASE WHEN '{{ $fromAI('titulo') }}' IN ('', 'undefined') THEN titulo ELSE '{{ $fromAI('titulo') }}' END, contenido = CASE WHEN '{{ $fromAI('contenido') }}' IN ('', 'undefined') THEN contenido ELSE '{{ $fromAI('contenido') }}' END, tipo = CASE WHEN '{{ $fromAI('tipo') }}' IN ('', 'undefined') THEN tipo ELSE '{{ $fromAI('tipo') }}' END, tags = CASE WHEN '{{ $fromAI('tags') }}' IN ('', 'undefined') THEN tags ELSE '{{ $fromAI('tags') }}' END WHERE id = {{ $fromAI('id') }}",
          "options": {
            "largeNumbersOutput": "text",
            "replaceEmptyStrings": true
          }
        },
        "id": "mysql-tool-actualizar-idea",
        "name": "Actualizar idea",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          832,
          832
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Actualizar una PERSONA existente. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar personas'. OPCIONALES: nombre, relacion, datos_contacto (JSON).",
          "operation": "executeQuery",
          "query": "=UPDATE personas SET nombre = CASE WHEN '{{ $fromAI('nombre') }}' IN ('', 'undefined') THEN nombre ELSE '{{ $fromAI('nombre') }}' END, relacion = CASE WHEN '{{ $fromAI('relacion') }}' IN ('', 'undefined') THEN relacion ELSE '{{ $fromAI('relacion') }}' END, datos_contacto = CASE WHEN '{{ $fromAI('datos_contacto') }}' IN ('', 'undefined') THEN datos_contacto ELSE '{{ $fromAI('datos_contacto') }}' END WHERE id = {{ $fromAI('id') }}",
          "options": {
            "largeNumbersOutput": "text",
            "replaceEmptyStrings": true
          }
        },
        "id": "mysql-tool-actualizar-persona",
        "name": "Actualizar persona",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          960,
          832
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Eliminar una TAREA. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar tareas'. CONFIRMA con el usuario antes de eliminar.",
          "operation": "executeQuery",
          "query": "=DELETE FROM tareas WHERE id = {{ $fromAI('id') }}",
          "options": {
            "largeNumbersOutput": "text"
          }
        },
        "id": "mysql-tool-eliminar-tarea",
        "name": "Eliminar tarea",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          576,
          992
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Eliminar un PROYECTO. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar proyectos'. CONFIRMA con el usuario antes de eliminar.",
          "operation": "executeQuery",
          "query": "=DELETE FROM proyectos WHERE id = {{ $fromAI('id') }}",
          "options": {
            "largeNumbersOutput": "text"
          }
        },
        "id": "mysql-tool-eliminar-proyecto",
        "name": "Eliminar proyecto",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          704,
          992
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Eliminar una IDEA. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar ideas'. CONFIRMA con el usuario antes de eliminar.",
          "operation": "executeQuery",
          "query": "=DELETE FROM ideas WHERE id = {{ $fromAI('id') }}",
          "options": {
            "largeNumbersOutput": "text"
          }
        },
        "id": "mysql-tool-eliminar-idea",
        "name": "Eliminar idea",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          832,
          992
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "parameters": {
          "descriptionType": "manual",
          "toolDescription": "Eliminar una PERSONA. REQUIERE: id (DEBE SER UN NÚMERO ENTERO como 1, 2, 5 - NUNCA un UUID). Obtén el id usando primero 'Consultar personas'. CONFIRMA con el usuario antes de eliminar.",
          "operation": "executeQuery",
          "query": "=DELETE FROM personas WHERE id = {{ $fromAI('id') }}",
          "options": {
            "largeNumbersOutput": "text"
          }
        },
        "id": "mysql-tool-eliminar-persona",
        "name": "Eliminar persona",
        "type": "n8n-nodes-base.mySqlTool",
        "typeVersion": 2.5,
        "position": [
          960,
          992
        ],
        "credentials": {
          "mySql": {
            "id": "yTsefijtH5HVvPzn",
            "name": "segundo_cerebro"
          }
        }
      },
      {
        "id": "switch-es-audio-v019",
        "name": "Es Audio?",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          -336,
          304
        ],
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.message.voice || $json.message.audio }}",
                      "operator": {
                        "type": "string",
                        "operation": "exists",
                        "singleValue": true
                      }
                    }
                  ]
                },
                "renameOutput": true,
                "outputKey": "Audio"
              }
            ]
          },
          "options": {
            "fallbackOutput": "extra",
            "renameFallbackOutput": "Texto"
          }
        }
      },
      {
        "id": "http-get-file-v019",
        "name": "Obtener File Info",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -112,
          224
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/getFile?file_id={{ $json.message.voice.file_id || $json.message.audio.file_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "telegramApi",
          "options": {}
        },
        "credentials": {
          "telegramApi": {
            "id": "RzgkIinUIV35wSlO",
            "name": "segundo_cerebro_pkm_bot"
          }
        }
      },
      {
        "id": "http-download-v019",
        "name": "Descargar Audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          144,
          224
        ],
        "parameters": {
          "method": "GET",
          "url": "=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "telegramApi",
          "options": {
            "response": {
              "response": {
                "responseFormat": "file"
              }
            }
          }
        },
        "credentials": {
          "telegramApi": {
            "id": "RzgkIinUIV35wSlO",
            "name": "segundo_cerebro_pkm_bot"
          }
        }
      },
      {
        "id": "gemini-transcribe-v019",
        "name": "Gemini Transcribir",
        "type": "@n8n/n8n-nodes-langchain.googleGemini",
        "typeVersion": 1.1,
        "position": [
          400,
          224
        ],
        "parameters": {
          "resource": "audio",
          "operation": "transcribe",
          "inputType": "binary",
          "binaryPropertyName": "data",
          "options": {
            "simplify": true
          },
          "modelId": {
            "mode": "id",
            "value": "models/gemini-2.0-flash-exp"
          }
        },
        "credentials": {
          "googlePalmApi": {
            "id": "EDGpeO8sJi8YCJQz",
            "name": "webcomunica api pago"
          }
        }
      },
      {
        "id": "set-message-v019",
        "name": "Preparar Mensaje",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          656,
          224
        ],
        "parameters": {
          "mode": "manual",
          "assignments": {
            "assignments": [
              {
                "id": "msg-text",
                "name": "message.text",
                "type": "string",
                "value": "={{ $json.output }}"
              },
              {
                "id": "msg-from-id",
                "name": "message.from.id",
                "type": "string",
                "value": "={{ $('Telegram Trigger').item.json.message.from.id }}"
              },
              {
                "id": "msg-chat-id",
                "name": "message.chat.id",
                "type": "string",
                "value": "={{ $('Telegram Trigger').item.json.message.chat.id }}"
              }
            ]
          },
          "options": {}
        }
      }
    ],
    "connections": {
      "Guardar en inbox_log": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Responder en Telegram",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Postgres Chat Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "Insertar en tareas": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Insertar en proyectos": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Insertar en ideas": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Insertar en personas": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Consultar tareas": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Consultar proyectos": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Consultar ideas": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Consultar personas": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar tarea": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar proyecto": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar idea": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar persona": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Eliminar tarea": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Eliminar proyecto": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Eliminar idea": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Eliminar persona": {
        "ai_tool": [
          [
            {
              "node": "AI Agent",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "Telegram Trigger": {
        "main": [
          [
            {
              "node": "Es Audio?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Es Audio?": {
        "main": [
          [
            {
              "node": "Obtener File Info",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Guardar en inbox_log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener File Info": {
        "main": [
          [
            {
              "node": "Descargar Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Descargar Audio": {
        "main": [
          [
            {
              "node": "Gemini Transcribir",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Gemini Transcribir": {
        "main": [
          [
            {
              "node": "Preparar Mensaje",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Mensaje": {
        "main": [
          [
            {
              "node": "Guardar en inbox_log",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "JUAN JOSE SANCHEZ BERNAL",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-17T19:31:20.962Z",
        "id": 203,
        "workflowId": "ZI6VUFdg6hEhnCbh",
        "versionId": "715c6f60-315a-4ec1-b52d-933a90fa36f1",
        "event": "activated",
        "userId": "078b3c41-10e5-4d26-81a5-15700c6cc8d0"
      }
    ]
  }
}
